<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include("partials/navbar")  %>

  <h2><a href="/list-all/tanker">Who's a tanker!</a></h2>
  <h3><a href="">My Lineup</a></h3>
  <table border="1">
    <tr>
      <th>No</th>
      <th>Units</th>
      <th>Classes</th>
      <th>Races</th>
      <th>Rarities</th>
    </tr>
    <% codex.forEach((el,index) => { %>
    <tr>
      <td><%= index + 1 %> </td>
      <td><%= el.name %> </td>
      <td><%= el.class %> </td>
      <td><%= el.race %> </td>
      <td>
        <% if (dataUnit[index].Rarity.name) { %>
        <%= dataUnit[index].Rarity.name %>
        <% }  %>
      </td>
    </tr>
    <% }) %>
  </table>
</body>

</html>